<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <File name="stationSearchByUser" fileName="logs/stationSearchByUser.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <MarkerFilter marker="INPUT_HISTORY"/>
            </Filters>
        </File>
        <File name="stationsSearchNotValid" fileName="logs/stationsSearchNotValid.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <MarkerFilter marker="INVALID_STATIONS"/>
            </Filters>
        </File>
        <File name="exeptions" fileName="logs/exeptions.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </appenders>
    <loggers>
        <root level="info">
            <appender-ref ref="stationSearchByUser"/>
            <appender-ref ref="stationsSearchNotValid"/>
            <appender-ref ref="exeptions" level="error"/>
        </root>
    </loggers>
</configuration>
